.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 10; 
    margin-bottom: 20%; 
    background-color:aliceblue;
    opacity: 5;
    
    
}
.nav-menu{
    display: flex;
    /* margin-bottom: 12%; */
}
.nav-menu li{
    padding: 0 1rem;
    margin-right: 1.5rem;
}
.nav-menu li a{
    font-size: 1.2rem;
    font-weight:500;
}
.menu-icon{
    display: none;
}

.btn{
    padding: 12px 32px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid ;
    border-radius: 7px;
    margin-right: 0.5rem;
}
.btn-light{
    font-weight: bold;
    cursor: pointer;
    padding: 12px 32px;
    font-size: 1.3rem;
    background: transparent;
    border: 1px solid ; 
     border-radius: 7px;
}


.img{
    width: 100%;
    height:100vh;
    position: relative;
}
.image{
    width: 100%;
    height: 100%;
    background-size:cover;
    background-position: center;
    object-fit: center;
}
.img::after{
    content: "";
    width: 100%;
    height:100%;
    position:absolute;
    top: 0;
    left: 0;
    background-color: aliceblue;
    opacity: 0.8;
}
.main{
    width: 100%;
    height:100%
}

.main .content{
    position: absolute;
    transform: translate(-50%);
    top: 50%;
    left: 50%;
    text-align: center;
}
.main .content h1{
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
}
.main .content p{
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: capitalize;
}

@media screen and (max-width:640px) {
    .main .content h1{
        font-size: 3rem;
    }
    .main .content p{
        font-size: 1.2rem;
      
    }
}

@media screen and (max-width:1040px) {
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
        background-color: rgb(181, 254, 254);
        opacity: 0.9;
        transition: 0.3s;
        
    }
    .nav-menu-active{
        display: none;
        
    }
       .nav-menu li{
        padding: 0.9rem;
    }
    .nav-menu li a{
        font-size: 2rem;
    }
    .menu-icon{
        display:initial;
    }
}





/*                          footer CSS                                          */

.footer-text{
    color: white;
}
.footer{
    width: 100%;
    padding: 0 0 2rem;
    /* margin-top: 2 rem ; */
    color: white;
    background-color:rgb(25, 25, 67) ;
}
.footer-container{
    /* max-width: 450px; */
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;

}
.left{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.location{
    display: flex;
    margin-bottom: 0.8rem;
   
}
.location p{
    line-height: 30px;
    margin-left: 1rem;
}
.right{
    height: 100%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.right h4{
    margin-bottom: 1rem;
}
.social{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    
}

@media screen and (max-width:640px) {

    .footer-container{
    grid-template-columns: 1fr;
   

}
}


/*    common Background css   */

.h-image{
    width: 100%;
    height: 100%;
}
.h-image::before{
    content: "";
    background-image: url('../images/project.jpeg');
    background-size: cover;
    background-position: center top;
    height: 70%;
    width: 100%;
    position:absolute;
    opacity: 8;
    top: 0;
    left: 0;
    z-index: -3;
}
.h-heading{
    width: 100%;
    height:60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h-image h1{
    font-size: 2.4rem;
    color: white;
    font-weight: bold;
}
.h-image p{
    font-size: 1.4rem;
    text-align: center;
  color:white;
    font-weight: bold;
    margin-top: 2%;
    width: 70%;
}
@media screen and (max-width:640px) {
    .h-image h1{
        font-size: 2rem;
        color: white;
        font-weight: bold;
    }
   
}


/* work   */

.project-card{
    margin-top: 12rem;
    margin-left: 4rem;
    display: flex;
    margin-bottom: 2rem;
}
.card{
    margin-right: 2rem;
}

.wrk-btn{
        padding: 12px 32px;
        font-size: 1.3rem;
        font-weight: bold;
        cursor: pointer;
        margin-right: 0.5rem;
    
}
.wrk-src{
        padding: 12px 32px;
        font-size: 1.3rem;
        font-weight: bold;
        cursor: pointer;
        margin-left: 8rem;
}

@media screen and (max-width:1040px) {
    .project-card{
       
        margin-left: 10rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .card{
        
        margin-right: 1rem;
        margin-bottom: 2rem;
    }
   
}
@media screen and (max-width:600px) {
    .project-card{
        margin-left: 2rem;  
    }
}


/*      work- experince */

.link-header{
    width: 100%;
    height: 100%;
    margin-left: 4rem;
    display: flex;
    justify-content: space-around;
   
}
.btn-light-wrk{
    font-weight: bold;
    cursor: pointer;
    padding: 12px 32px;
    font-size: 1.3rem;
    background: transparent;
    color: white;
    
     
}
.experience   {
    width: 100%;
    height: 100%;
    margin-top: 3%;
    font-weight: bold;
}
.work-text{
    width: 75%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    height: 100%;
    font-weight: bold;
    margin-top: 7%;
    margin-left: 15%;
    margin-right: 5%;
}
.resume{
    width: 75%;
    height: 100%;
    margin: 3% 30% 7% 23% ;
    font-size: 1.5rem;

}
.resume-cv{
    font-weight: bold;
    cursor: pointer;
    /* padding: 1px 10px; */
    font-size: 1.2rem;
    background: transparent;
    /* border-bottom: 1px solid ;  */
    margin-left: 28%;
    margin-top: 5%;
}
.download{
    margin-top: 4%;
}
.paper{
    width: 50%;
    margin-left: 27%;
    margin-top: 8%;
}
.paper2{
    width: 50%;
    margin-left: 27%;
    margin-top: 8%;
    margin-bottom: 8%;
}

.res-content{
    margin-left: -8rem;
}


/* contact Details */

.contact-header{
    width: 60%;
    height: 100%;
    margin: 10% 24%;
}